@model DewarpingApp.Domain.Models.ImageFile

<div>
    <h3>@Model.Name</h3>
    <img src="@Model.Path" alt="@Model.Name" width="300" height="300"/>
    <img src="@Model.DistortedPath" alt="Distorted" width="300" height="300"/>
    <a href="@Model.DistortedPath" download="@Model.Name">Download distorted image</a>
</div>